<h2>Текстовый ввод</h2>
<input v-model="text">
<p>{{ text }}</p>

<h2>Чекбокс</h2>
<input type="checkbox" id="checkbox" v-model="checked">
<label for="checkbox">Выбрано: {{ checked }}</label>

<!--
  несколько чекбоксов могут быть привязаны к одному и тому же
  значению v-model массива
-->
<h2>Множественный чекбокс</h2>
<input type="checkbox" id="jack" value="Джек" v-model="checkedNames">
<label for="jack">Джек</label>
<input type="checkbox" id="john" value="Джон" v-model="checkedNames">
<label for="john">Джон</label>
<input type="checkbox" id="mike" value="Майк" v-model="checkedNames">
<label for="mike">Майк</label>
<p>Выбранные имена: <pre>{{ checkedNames }}</pre></p>

<h2>Радиокнопка</h2>
<input type="radio" id="one" value="Один" v-model="picked">
<label for="one">Один</label>
<br>
<input type="radio" id="two" value="Два" v-model="picked">
<label for="two">Два</label>
<p>Выбрано: {{ picked }}</p>

<h2>Выбор</h2>
<select v-model="selected">
  <option disabled value="">Пожалуйста, выберите одно</option>
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<p>Выбрано: {{ selected }}</p>

<h2>Множественный выбор</h2>
<select v-model="multiSelected" multiple style="width:100px">
  <option>A</option>
  <option>B</option>
  <option>C</option>
</select>
<p>Выбрано: {{ multiSelected }}</p>
